{%- capture section_settings -%}
{
  "autoPlay": {{ section.settings.autoplay | json }},
  "prevNextButtons": false,
  "pageDots": false,
  "setGallerySize": true,
  "adaptiveHeight": true,
  "transitionEffect": {{ section.settings.carousel_effect | json }},
  "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  {%- assign desktop_images = "desktop1.jpg,desktop2.jpg,desktop3.jpg" | split: ',' -%}
  {%- assign mobile_images = "mobile1.jpg,mobile2.jpg,mobile3.jpg" | split: ',' -%}

  <div class="slideshow slideshow--preserve-ratio" style="color: #ffffff">
    {%- for image in desktop_images -%}
      {%- capture desktop_image_url -%}{{ 'theme://images/' | append: image }}{%- endcapture -%}
      {%- capture mobile_image_url -%}{{ 'theme://images/' | append: mobile_images[forloop.index0] }}{%- endcapture -%}

      <div class="slideshow__slide is-selected">
        <div class="slideshow__slide-inner slideshow__slide-inner--middle-center lazyload image--fade-in">
          <div class="aspect-ratio" style="padding-bottom: 56.25%">
            <img class="slideshow__image lazyload image--fade-in" alt="{{ image }}" data-src="{{ desktop_image_url }}" data-widths="[800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200]" data-sizes="auto">

            <noscript>
              <img src="{{ desktop_image_url | img_url: '1200x' }}" alt="{{ image }}">
            </noscript>
          </div>

          <div class="slideshow__content-wrapper">
            <div class="container">
              {%- if forloop.index0 == 0 -%}
                <h2 class="slideshow__title heading h1">Slide Title 1</h2>
                <p class="slideshow__content">Slide content for banner 1</p>
                <a href="#" class="slideshow__button button">Button</a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 1,
  "settings": [
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image"
    }
  ]
}
{% endschema %}
